@mixin gotham-400-13 {
    font-family: 'Gotham Pro';
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
}

@mixin gotham-700-22 {
    font-family: 'Gotham Pro';
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}

@mixin gotham-700-11 {
    font-family: 'Gotham Pro';
    font-size: 11px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0em;
}

@mixin gotham-700-18 {
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
}

@mixin gotham-400-12 {
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
}

@mixin gotham-700-19 {
    font-family: 'Gotham Pro';
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
}

@mixin gotham-700-15 {
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
}

@mixin gotham-400-15 {
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
}

@mixin gotham-400-10 {
    font-family: 'Gotham Pro';
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
}

@mixin gotham-400-30 {
    font-family: 'Gotham Pro';
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}